<div class="products-container">
     <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search product </mat-label>
      <input
         matInput
         placeholder="by name"
         [ngModel]="searchTerm()"
         (ngModelChange)="searchTerm.set($event)"
      />
  </mat-form-field>

   <div class="products-grid">
      <app-porducts-card *ngFor="let product of filteredProducts()" [product]="product" [name]="name">
        
      </app-porducts-card>

   </div>
</div>